@using (Html.BeginForm("Index", "Document", FormMethod.Get))
{
        <div class="row">
            <div class="col-md-4">
                <label>Topic:</label>
            @Html.DropDownList("topicId", ViewBag.Topics as SelectList, "Tất cả", new { @class = "form-control" })
            </div>

            <div class="col-md-4">
                <label>Grade:</label>
            @Html.DropDownList("gradeId", ViewBag.Grades as SelectList, "Tất cả", new { @class = "form-control" })
            </div>

            <div class="col-md-4">
                <label>Category:</label>
            @Html.DropDownList("categoryId", ViewBag.Categories as SelectList, "Tất cả", new { @class = "form-control" })
            </div>
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Lọc</button>
        </div>
}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>FileURL</th>
            <th>Topic</th>
            <th>Category</th>
            <th>Grade</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model)
        {
                <tr>
                    <td>@document.Name</td>
                    <td>@document.Price</td>
                    <td>@document.FileURL</td>
                    <td>@document.Topic?.TopicName</td>
                    <td>@document.Category?.Name</td>
                    <td>@document.Grade?.Name</td>
                    <td>
                        <a asp-action="ViewPdf" asp-route-id="@document.DocumentID">Xem File</a> |
                        <a asp-action="Edit" asp-route-id="@document.DocumentID">Chỉnh sửa</a> |
                        <a asp-action="Delete" asp-route-id="@document.DocumentID">Xoá</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
