
@model IEnumerable<DALTW.Models.Document>
<h2>Document</h2>
<table class="table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>

            <th>Price</th>
            <th>FileURL</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model)
        {
            <tr>
                <td>@document.Name</td>
                <td>@document.Price</td>
                <td>@document.FileURL</td>
                <td>@document.Category?.Name ?? "No Category"</td>
                <td>
                    <a asp-action="Display" asp-route-id="@document.DocumentID">View</a> |
                    <a asp-action="Update" asp-route-id="@document.DocumentID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@document.DocumentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

