@model IEnumerable<DALTW.Models.Competition>

@{
    ViewData["Title"] = "Danh sách cuộc thi";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
}

<h2>@ViewData["Title"]</h2>
<a asp-area="Admin" asp-controller="Competition" asp-action="Create" class="btn btn-success mb-3">+ Thêm cuộc thi</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên cuộc thi</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompetitionID" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.CompetitionID" class="btn btn-sm btn-info">Xem</a>
                    <a asp-action="Delete" asp-route-id="@item.CompetitionID" class="btn btn-sm btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
