@model IEnumerable<DALTW.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary mb-3" href="@Url.Action("Add", "DocumentManager", new { area = "Admin" })">Thêm tài liệu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <strong>
                        @Html.Raw(item.Content?.Length > 100
                                 ? item.Content.Substring(0, 97) + "..."
                                 : item.Content)
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic.TopicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFilePath)
                </td>
                <td>
                    <a asp-action="ViewPdf" asp-route-id="@item.DocumentID">Xem</a> |
                    <a asp-action="Edit" asp-route-id="@item.DocumentID">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.DocumentID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
